<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madhu's Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Madhu's Blog</a> </h1>
    </div>

    <div>
        <p>Published: 13.03.2019, 13:47</p>
        <h2><a href=" ">My First Post</a> </h2>
        <p>This is my first post...</p>
    </div>

    <div>
        <p>Published: 13.03.2019, 13:47</p>
        <h2><a href=" ">My Second Post</a> </h2>
        <p>This is my second post...</p>
    </div>

</body>
</html>